:root {
  --gap: 1rem;

  --facebook: #3b5998;
  --twitter: #00aced;
  --linkedin: #007bb5;
  --youtube: #bb0000;
  --pinterest: #cb2027;
  --instagram: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);

  // Sitecolor
  --mainDark: 230 35% 7%;
  --mainLight: 231 77% 90%;
  --mainWhite: 0 0% 100%;
  --mainGrey: 0 0 59%;
  --mainLight: 231 77% 90%;

  // font-sizes
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  // font-families
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ----------------- */
/* Tablet            */
/* ----------------- */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

/* ----------------- */
/* Desktop           */
/* ----------------- */
@media (min-width: 45em) {
  :root {
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

// Fonts
// $barlowRegular: 'Barlow-Regular';
// $barlowCondensedMd: 'BarlowCondensed-Medium';
// $barlowCondensedBd: 'BarlowCondensed-Bold';
// $belleFair: 'Bellefair-Regular';

// Font Sizes
// $baseFontSize: 10;
